// Variables
// -----------------------------------------------------------------------------

// Breakpoints
$mobile: max-width 560px;
$tablet: 561px 850px;
$desktop: 851px;

// Colors
$text: #333;
$rowpop: #f5f5f5;
