@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.riccio::before {
  display: none;
}

.riccio__row-item::after, .riccio__row-pop::after {
  content: "";
  display: table;
  clear: both;
}

.riccio__row-pop {
  box-sizing: border-box;
}

.riccio__item {
  cursor: pointer;
}

.riccio__pop {
  display: none;
}

.riccio__pop--active {
  display: block;
  -webkit-animation: fadeIn .5s ease forwards;
          animation: fadeIn .5s ease forwards;
}
