@import 'mixins';

.riccio {

  &::before {
    display: none;
  }

  &__row {
    @include clearfix;
  }

  &__item {
    cursor: pointer;
  }

  &__pop {
    display: none;

    &--active {
      display: block;
    }
  }
}
