@import "mixins";
@import "animations";

.riccio {

  &::before {
    display: none;
  }

  &__row-item,
  &__row-pop {
    @include clearfix;
  }

  &__row-pop {
    box-sizing: border-box;

    &--active {}
  }

  &__item {
    cursor: pointer;
  }

  &__pop {
    display: none;

    &--active {
      display: block;
      animation: fadeIn .5s ease forwards;
    }
  }
}
